# macOS system files
.DS_Store

# Python cache files
__pycache__/
*.py[cod]

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/

# Logs and temp files
*.log
*.tmp
